<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <!--<style>
            <link rel="stylesheet" type="text/css" href="styles.css">
        </style>   Not sure why this css is not working. Will fix later-->
    </head>
<body>
    <nav>
        <h3>
            <ul id="user account">
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/blog">All Posts</a>
                </li>
                <li>
                    <a href="/newpost">New blog entry</a>
                </li>
            </ul>
        </h3>
    </nav>
    <h1>
        <a href="/blog">{{title}}</a>
    </h1>

    <div>
        <ul>
            <a href=""></a>
        </ul>
    </div>
    
    {% with messages = get_flashed_messages() %} <!---->
        <ul>
        {%  for message in messages %}
            <li>{{message}}</li>
        {%  endfor %}
        </ul>
    {%  endwith %}
    {% block content %}
    
    {% endblock %}
</body>
</html>