{% extends "base.html" %}

{% block content %}

<h1>Log in to your Blogz</h1>
<p>New to Blogz? No problem, <a href="/signup">Create an account</a> here</p>
<form action="/login" method="post">
    <table>
        <tr>
            <td><label for ="username">Username</label></td>
            <td>
                <input id=username name="username" type="text" value="{{valid_credentials}}">
                <span id="error" class="error">{{invalid_credentials}}</span>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <span id="error" class="error">{{invalid_password}}</span>
            </td>
        </tr>
    </table>
    <input type="submit" value="Login">
</form>
{%  endblock %}